*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--color-bg);
  /* transition: background-color var(--transition), color var(--transition); */
  color: var(--color-text);
}